body{
    background: #232323;
   
}

.square{
    width: 30%;
    background-color: pink;
    margin: 1.66%;
    padding-top: 30%;  
    float:left;
}

#container{
    margin: 0 auto;
    width: 400px;
}

h1, h3, h4{
    color: white;
    text-align: center;   
}

span{
    color: white;
}
