body{
    background: #232323; 
}

.square{
    width: 30%;
    background-color: pink;
    margin: 1.66%;
    margin-top: 5%;
    padding-top: 30%;  
    float:left;
}

#container{
    margin: 0 auto;
    width: 400px;
}

h1, h3{
    color: white;
    text-align: center;   
}

#stripe{
    background: white;
    color: black;
    height:30px;
    text-align: center;
    padding-top:12px; 
}

#forReset{
    position: relative;
    right:100px;
}

#message{
    margin-right: 100px;
}

.selected{
    background: lightblue;
}

